*{margin: 0; padding: 0;}
thead th{background-color: #000; text-align: left; color: #fff;}
tbody tr:nth-child(even){background-color: #ccc;}
tbody tr{color: #000; }
tbody tr:nth-child(1){color: #f00;}
tbody tr:nth-child(2){color: #f00;}
tbody tr:nth-child(3){color: #f00;}
form{margin-top: 25px;}
input{width: 120px; transition: width 1s;}
input:focus{width: 200px;}
.banner-scoll{position:relative; margin-top: 25px; width: 300px; height: 200px; border: 1px solid #ccc; overflow: hidden;}
ul{width: 300%;}
li{width: 300px; height: 200px; float: left; position: absolute;}
.banner-1{background-color: #cc3333;}
.banner-2{background-color: #cccc33;}
.banner-3{background-color: #55aaaa;}
.banner-ctrl{position: absolute; bottom: 0; right: 0; overflow: hidden; z-index: 100;}
li:target{z-index: 2; animation: move 1s;}
@keyframes move{0%{left: -100%}  100%{left: 0%}}
a{display: inline-block;  width:40px; height:40px; line-height:40px; text-align:center; color: #c43cc4; text-decoration: none; margin-left:3px; background-color: #f7b3f7; opacity: 0.7;}
/*还可使用transition实现，利用left属性，left：0%，letf:-100%,left:-200%*/