*{margin: 0; padding: 0; box-sizing:border-box;}
body{padding: 20px;}
.container{padding: 20px;  background: #eee padding-box; min-width: 600px;}
.container,.team,.description,.personal{border: 1px solid #999;}
.team,.description,.personal{background-color: #fff;}
.team{width: 200px; float: left; }
.team img{float: left; padding: 20px;}
.team .name{ float: left; font:14px bold;padding-top: 20px;}
.description{margin-left: 220px;  overflow: hidden; padding: 20px;}
h2,p{line-height: 35px;}
p{text-indent: 2em; }
h2,p,.name{color: lightpink;}
.personal{float: right; margin-left:20px;  width: 120px; padding: 20px 20px 0;}
.personal img{ border: 1px solid #999; margin-bottom: 20px;}
.clearfix:after{content: "."; display: block; clear: both; height: 0; overflow: hidden; visibility: hidden;}