*{margin: 0; padding: 0; box-sizing:border-box;}
.flex-container{display: flex; 
	             padding: 20px; 
                 border: 1px solid #ccc; 
                 flex-flow: row nowrap;
                 justify-content: space-between;
                 align-items: center;}
.item-1,.item-2,.item-3,.item-4{width: 150px; margin-bottom: 20px;}
.item-1,.item-2,.item-3{border: 1px solid #f00;}
.item-1{height: 120px;}
.item-2{height: 100px;}
.item-3{height: 40px;}
.item-4{height: 200px; border: 1px solid #0f0}

@media screen and (max-width: 640px){
	.flex-container{flex-wrap: wrap; align-items: flex-start;}
	.item-4{order: -1;}
}

